
body {
  font-size: 16px;
  line-height: 1.6;
}


* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; 
}

#welcome-message {
  max-width: 700px;
  margin: 20px auto;
  padding: 10px;
  background-color: #0FA3B1;
  border-radius: 10px;
  text-align: center;
  color: white;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px; 
  margin-bottom: 20px; 
}

#logo {
  width: 350px; 
  height: 200px; 
  background-color: lightblue; 
  border-radius: 10px; 
}

#map {
  width: 80%;
  height: 300px;
  margin-bottom: 20px; 
}

#button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #a5ecd7; 
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold; 
}

button:hover {
  background-color: #99ccff; 
}

.button-container {
  display: flex;
}

#dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#direction {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

#direction option {
  font-size: 16px;
}

#dropdown-container label {
  font-size: 20px;
  color: #333;
  margin-bottom: 8px;
}

#direction:hover {
  border-color: #66aaff;
}

#direction:focus,
#direction:active {
  border-color: #007bff;
  outline: none;
}

.search-button {
  background-color: #343333; 
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.search-button:hover {
  background-color: #E74C3C;
}

.button-container {
  display: flex;
  gap: 10px; 
  margin-bottom: 20px; 
}

.small-map {
  width: 100px; 
  height: 100px; 
}

.section-header {
  font-family: 'Archivo', sans-serif;
  font-weight: 300;
  font-size: 24px; 
  text-align: center;
}