* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  /* Place the video behind other content */
}


* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

#welcome-message {
  max-width: 700px;
  margin: 20px auto;
  padding: 10px;
  background-color: #0FA3B1;
  border-radius: 10px;
  text-align: center;
  color: white;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

#logo {
  width: 350px;
  height: 200px;
  background-color: lightblue;
  border-radius: 10px;
}

#map {
  width: 80%;
  height: 300px;
  margin-bottom: 20px;
}

#button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #a5ecd7;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #99ccff;
}

.button-container {
  display: flex;
}

#dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#direction {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

#direction option {
  font-size: 16px;
}

#dropdown-container label {
  font-size: 20px;
  color: white;
  margin-bottom: 8px;
}

#direction:hover {
  border-color: #66aaff;
}

#direction:focus,
#direction:active {
  border-color: #007bff;
  outline: none;
}

.search-button {
  background-color: #343333;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.search-button:hover {
  background-color: #E74C3C;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.small-map {
  width: 100px;
  height: 100px;
}

.section-header {
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  color: #0c8790;
  font-size: 32px;
  padding-bottom: 0px;
  text-shadow: 0 0 2px #007bff;
  border-bottom: 2px solid #0c8790;
}

.boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.box {
  width: calc(15% - 20px);
  padding: 15px;
  margin: 25px;
  background-color: #79B1BF;
  border: 1px solid #79B1BF;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.box:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.box p {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  color: white;
}

.box {
  position: relative;
}

.direction-button {
  position: absolute;
  bottom: -17px;
  left: 45%;
  transform: translateX(-30%);
  display: inline-block;
  padding: 3px 7px;
  background-color: #a5ecd7;
  color: #0c8790;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

#user-container,
#auth-links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

#user-container {
  flex-direction: column;
}

#auth-links a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  background-color: #0FA3B1;
  display: inline-block;
  padding: 8px 12px;
}

#user-container a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  background-color: #0FA3B1;
  display: inline-block;
  padding: 8px 12px;
}

#auth-links {
  display: none;
}

#user-greeting {
  display: block;
}
#user-greeting {
  font-size: 20px;
  font-weight: 700;
}

#user-greeting #username{
  color: #0c8790;
}
/* Form */
.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 50px 0;
}

#signup-form h2,#login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#dropdown-container{
  margin-bottom: 30px;
}
#dropdown-container label{
  color: #0c8790 !important;
}
.form-button, button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #0FA3B1;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form-button:hover, button:hover {
  background-color: #0c8790;
}
a#username{
  padding: 0;
  background-color: transparent;
  text-decoration: underline;
}

.green-text-box {
  background-color: #4CAF50; 
  color: white; 
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  max-width: 700px;
}