
body {
  font-size: 16px;
  line-height: 1.6;
}


* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; 
}

#welcome-message {
  max-width: 700px;
  margin: 20px auto;
  padding: 10px;
  background-color: #0FA3B1;
  border-radius: 10px;
  text-align: center;
  color: white;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px; 
  margin-bottom: 20px; 
}

#logo {
  width: 350px; 
  height: 200px; 
  background-color: lightblue; 
  border-radius: 10px; 
}

#map {
  width: 70%;
  height: 300px;
  margin-bottom: 20px; 
}

#button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #a5ecd7; 
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold; 
}

button:hover {
  background-color: #99ccff; 
}